.bundle
.DS_Store
*.swp
data
.rvmrc
.powenv
.bundle
pkg
Icon?
.DS_Store
TAGS
REVISION
*.tmproj
*~
.settings
.project
.tasks-cache
.svn
/log/*.log
/tmp/**/*
/vendor/src/**/*
/db/*.sqlite*
/public/sitemap*.xml.gz
/coverage
/doc/app
/doc/plugins
/nbproject
/.idea
/public/javascripts/cache/*
/public/stylesheets/cache/*
/public/assets/**/*
