* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
}

a {
    color: blue;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

li {
    list-style-type: none;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 150px;
    background: #FFE680;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
    border-left: 250px solid #B5E3FF;
    border-right: 250px solid #FFACAA;
    height: 1%;
    position: relative;
}

#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

#container {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-right: -100%;
}

#content {
    padding: 0 20px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
    float: left;
    width: 250px;
    position: relative;
    background: #B5E3FF;
    left: -250px;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
    float: right;
    margin-right: -250px;
    width: 250px;
    position: relative;
    background: #FFACAA;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    height: 100px;
    background: #BFF08E;
}


/* Product/index */
.contentBlocks {
    display: inline-block;
    width: 30%;
    height: 90px;
    text-align: center;
}

