* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    background-color: #44BBFF;
    font: 12px Arial, Tahoma, Verdana, sans-serif;
}

a {
    color: blue;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

li {
    list-style-type: none;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.error {
    color: red;
    font-weight: bold;
}

/* Header
-----------------------------------------------------------------------------*/
header {
    position: relative;
    height: 120px;
    background: white url("logo.png") no-repeat;
    margin-bottom: 3px;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

header > img {
    margin: 12px;
}

header > a {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 0 5px;
    background: #0000ff;
    color: white;
    font: bold 13px/20px Arial;
}

header menu {
    position: absolute;
    bottom: 0;
    left: 215px;
    font: bold  18px/36px Arial;
}

header menu li {
    display: inline-block;
    background: #eee;
    border-radius: 6px 6px 0 0;
    border-top: 1px solid black;
    border-left: 1px  solid black;
    margin: 0;
}

header menu li a {
    padding: 0 10px;
    color: #007777;
    display: inline-block;
    letter-spacing: 1px;
}

header menu li.current {
    background-color: #44BBFF;
    border: 0;
}

header menu li.current a {
    color: red;
}

/* Main part */

.window {
    background: yellow;
    width:552px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    border-radius: 6px;
}
.window > ul,
.window > div {
    margin: 3px 2px 0;
}

.window h3 {
    background: -moz-linear-gradient(left, #0000ff, #fff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%,#0000ff), color-stop(100%,#fff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(left, #0000ff, #fff);
    background: -o-linear-gradient(left, #0000ff, #fff); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #0000ff, #fff); /* IE10 */
    background: linear-gradient(left, #0000ff, #fff);
    color: #0BEEFF;
    padding: 3px 3px 3px 10px;
    border-radius: 6px 6px 0 0;
}

/*  Main content */

.content {
    margin-left: 259px;
}

/* Left side */

.left {
    float: left;
}

.left .window {
    width: 254px;
}

#main_categories ul,
#categories ul {
    width: 249px;
    background: #fff;
}

#main_categories ul li:nth-child(even),
#categories ul li:nth-child(even) {
    background: #eee;
}

#main_categories li,
#categories li {
    border: 1px solid #ccc;
    color: #666;
    font:  16px/26px Arial;
    padding-left: 5px;
}

#main_categories a,
#categories a {
    display: block;
    color: #666;
}

/* Right side */

.right {
    float: right;
}

.right .window {
    width: 184px;
}

#sign_in {
    background: #eee;
}

#sign_in label {
    width: 60px;
    display: inline-block;
}

#sign_in input[type="text"],
#sign_in input[type="password"]{
    width: 110px;
}

.sign_in_button {
    text-align: center;
}

.registration_link {
    margin-top: 5px;
    background: #fff;
    text-align: center;
    border-top: 1px solid #ccc;
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: 60px;
    width: 1000px;
    background: #0000FF;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}