* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background-color: #44BBFF;
}

a {
    color: blue;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

li {
    list-style-type: none;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.error {
    color: red;
    font-weight: bold;
}

/* Header
-----------------------------------------------------------------------------*/
header {
    position: relative;
    height: 120px;
    background: white url("logo.png") no-repeat;
    margin-bottom: 3px;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

header > img {
    margin: 12px;
}

header > a {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 0 5px;
    background: #0000ff;
    color: white;
    font: bold 13px/20px Arial;
}

header menu {
    position: absolute;
    bottom: 0;
    left: 210px;
    font: bold  18px/36px Arial;
}

header menu li {
    display: inline-block;
    background: #eee;
    border-radius: 6px 6px 0 0;
    border-top: 1px solid black;
    border-left: 1px  solid black;
    margin: 0;
}

header menu li a {
    padding: 0 10px;
    color: #007777;
    display: inline-block;
    letter-spacing: 1px;
}

header menu li.current {
    background-color: #44BBFF;
    border: 0;
}

header menu li.current a {
    color: red;
}

.window {
    width:780px;
    margin-left: 100px;
    border: 1px solid black;
    margin-bottom: 2px;
}

.left {
    float: left;
    width: 100px;
    border: 1px solid black;
}

.right {
    float: right;
    width: 100px;
    border: 1px solid black;
}

#sign_in {
    margin-left: 10px;
}

#sign_in input[type="text"],
#sign_in input[type="password"]{
    width: 180px;
    display: block;
}

#sign_in input[type="submit"] {
    display: block;
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: 100px;
    background: #BFF08E;
}
