<div id="cart">
  <h3><%= t("titles.cart") %></h3>
  <%= render "/products/cart_data" %>
  <div>
    <%= link_to t('button.empty_cart'), cart_path, :method => :delete, :remote => true %>
  </div>
  <div>
    <%= link_to t('button.checkout'), new_order_path %>
  </div>
</div>

