<% content_for :side_left do %>
    <ul>
        <% @menu.each do |item| %>
            <li><%= link_to_unless_current item[:name], :top => item[:top], :value => item[:value] %></li>
        <% end %>
    </ul>
<% end %>

<% content_for :side_right do %>
    Here should be placed next parts: top products, login form, and third part
<% end %>

<% @products.each do |product| %> 
  <div id="contentBlocks">
    <%= image_tag(product.image_url(:thumb)) if product.image? %><br />
    <%= product.name %> 
  </div>  
<% end %>
<%= paginate @products %>
