<!DOCTYPE html>
<html>
<head>
    <title>OfficeBum</title>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "admin/products" %>
    <%= csrf_meta_tags %>
</head>
<body>
      <%= yield %>
</body>
</html>
